.cabecalho{
    background-color: #11fce8;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}

.cabecalho-imagem{
    width: 5%;
    margin: 0;

}

.cabecalho-item {
    display: block;
    margin: 0 16px;
    font-size: 15px;
 
}
*{
    margin: 0;
    padding: 0;
}

.matematica-imagem{
    width: 25%;
    margin: 0;
}

.MatematicaII{
    background-image: linear-gradient(#0cc6e7  #0cbbf0);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.matematica-div-conteudo{
    width: 35%;
}
.matematica-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
}
.MatematicaII{
    color: rgb(255, 255, 255);
}
.coleira{ 
width: 18%;
margin: 0;
}
.acessorios {
    width: 18%;
    margin: 0;
}
.brinquedos {
    width: 18%;
    margin: 0;
}